version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    env_file:
      - .env
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert-rules.yml:/etc/prometheus/alert-rules.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - alertmanager

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    env_file:
      - .env
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    env_file:
      - .env
    environment:
      - N8N_SECURE_COOKIE=false
      - N8N_HOST=${N8N_IP}
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
    ports:
      - "5678:5678"

volumes:
  prometheus_data:
