global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - "alert-rules.yml"

scrape_configs:
  - job_name: 'spring-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['172.31.19.251:8080']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['172.31.19.251:9100']
